@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply flex items-center space-x-4 px-6 py-2 my-4 uppercase text-xs tracking-widest font-black;
  }

  .wallpaper {
    @apply transition-[filter] duration-[1s] ease-linear;
  }
  .section {
    @apply snap-center;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  image-rendering: optimizeQuality !important;
  color: white;
}
p {
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

textarea {
  outline: none !important;
  border: none !important;
}
textarea:focus {
  outline: none !important;
  border: none !important;
}
input {
  outline: none !important;
  border: none !important;
}
input:focus {
  outline: none !important;
  border: none !important;
}

ul {
  color: white;
}

.MuiPaper-root {
  background-color: black;
  border-radius: 5px;
  padding: 0 !important;
  height: fit-content;
}
::selection {
  background: transparent !important;
  color: rgb(59 130 246);
}
