@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply flex items-center space-x-2 px-6 py-2 my-4 uppercase text-xs tracking-widest font-black;
  }
  .contact-inputs {
    @apply focus:outline-none
    outline-none
    bg-transparent
    rounded
    border-b
    border-sky-200/20
    px-5 py-4
    text-white
    placeholder-gray-100
    transition-all
    font-bold
    w-44
    md:w-full;
  }
  .wallpaper {
    @apply transition-[filter] duration-[1s] ease-linear;
  }
  .section {
    @apply snap-center;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
}

textarea {
  outline: none !important;
  border: none !important;
}
textarea:focus {
  outline: none !important;
  border: none !important;
}
input {
  outline: none !important;
  border: none !important;
}
input:focus {
  outline: none !important;
  border: none !important;
}

ul {
  color: white;
}

li:hover {
  background-color: white !important;
  color: black;
}
.MuiPaper-root {
  background-color: black;
  border-radius: 5px;
  padding: 0 !important;
  height: fit-content;
}
